footer .content-container {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer .social-icons {
  display: flex;
  gap: 16px;
  margin: 24px 0px;
}

footer .copyright {
  font-family: "Alegreya", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

footer h3 {
  color: var(--pink-color);
  font-family: "Alegreya", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

footer .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .links ul li {
  font-family: "Alegreya", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 8px 16px;
}

footer .copyright.mobile {
  display: none;
}

/* Smaertphone */
@media (max-width: 720px) {
  footer .content-container {
    flex-direction: column;
    gap: 40px;
  }

  footer .copyright {
    display: none;
  }

  footer .copyright.mobile {
    display: block;
  }

  footer .social-icons {
    margin-bottom: 0;
  }
}
