#blog .content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

#blog .post img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

#blog .post {
  background-color: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: all 400ms ease;
}

#blog .post:hover {
  transform: scale(1.04);
}

#blog .post .tag {
  position: absolute;
  font-family: "Alegreya", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: black;
  background-color: white;
  padding: 0px 16px;
  right: 8px;
  top: 8px;
  border-radius: 10px;
}

#blog .post-title {
  font-family: "Alegreya", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: black;
  padding: 16px 24px;
  margin: 0;
}

#blog .btn-container {
  display: flex;
  justify-content: right;
}

#blog .all-posts-btn {
  font-family: "Alegreya", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 32px;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  color: black;
}

#blog .all-posts-btn:hover {
  background-color: antiquewhite;
}

/* Tablet */
@media (max-width: 1040px) {
  #blog .content-container {
    grid-template-columns: 1fr 1fr;
  }

  #blog .post:nth-child(3) {
    grid-column: 1/3;
  }
}

@media (max-width: 720px) {
  #blog .content-container {
    grid-template-columns: 1fr;
  }

  #blog .post:nth-child(3) {
    grid-column: 1/2;
  }
}
