@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@theme {
  /* Colors */
  --color-bgmain: #f5efe6;
  --color-primary: #e86a33;
  --color-info: #666666;
  --color-wrong: #fff0f0;
  --color-right: #e6fff0;
}
